body {
  font-size: arial, sans-serif;
  color: #202124;
  background-color: bisque;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  border: 1px solid #dadde1;
  line-height: 1.6;
  border-radius: 5px;
  max-width: 600px;
  padding: 20px;
  background-color: burlywood;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 22px;
  font-weight: normal;
  line-height: 16px;
}

.weather-temperature {
  display: inline-block;
  width: 50%;
}
.weather-temperature img {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  vertical-align: top;
  line-height: 26px;
}

.weather-temperature strong {
  color: cadetblue;
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -22px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forcast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  width: 100%;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.container {
  margin: 100px auto;
}

#one {
  margin-top: 30px;
}

#one:hover {
  background-color: aqua;
}

#result {
  margin-top: 30px;
}

img {
  width: 100%;
}
